/* search bar */
.search-d-down {
  position: absolute;
  top: 40px;
  background-color: #fff;
  z-index: 99999;
}

.current-temp {
  font-size: 50px;
  font-weight: 700;
}

.main-weather-icon {
  max-width: 200px;
}

.card {
  background-color: gainsboro;
  margin: 10px;
  width: 200px;
  height: 250px;
}

.info-block {
  border: 5px solid gainsboro;
  background-color: gainsboro;
}

.history-item {
  cursor: pointer;
  margin: 5px 0;
}
.history-item:hover {
  color:#fff;
  transition:.5s;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
}

.main-weather-icon {
  font-size: 70px;
}
.card-weather-icon{
  font-size: 50px
}

